

<div class="jumbotron">

  <h1>Angram Awesome Machine</h1>

</div>

<div class="form-group">
  <form id="word" method="post">
    <label for="word">give me a word</label>
    <input id ="word" name="word" type="text">

  <form id="next_word" method="post">
    <label for="next_word">give me list of words</label>
    <input id ="next_word" name="next_word" type="text">

    <button type="submit" class="btn btn-success">Go! </button>

    </form>

</div>
